.achievements {
  color: #858e97;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  @media screen and (max-width: 1200px) {
    font-size: 14px;
  }

  @media screen and (max-width: 900px) {
    font-size: 12px;
  }

  &__title {
    font-family: "Gotham Rounded Bold";
    color: #222;
    font-size: 3.7em;
    margin-bottom: 0;
    margin-top: 4em;
    text-align: center;
    width: 100%;
  }

  &__achievement {
    display: flex;
    margin-top: 10em;
    margin-right: 2.8em;
    width: 45%;

    @media screen and (max-width: 550px) {
      width: 100%;
      margin-top: 7em;
    }

    &:nth-child(2n + 1) {
      margin-right: 0;
    }
  }

  &__image {
    min-width: 33%;
    width: 33%;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 550px) {
      min-width: 45%;
      width: 45%;
    }

    img {
      margin-top: auto;
    }
  }

  &__content {
    padding-left: 1em;
    max-width: 260px;
    width: 50%;

    @media screen and (max-width: 550px) {
      padding-left: 2em;
      width: auto;
    }
  }

  &__number {
    font-family: "Gotham Rounded Medium";
    font-size: 6.3em;
    color: #222;
    white-space: nowrap;

    @media screen and (max-width: 768px) {
      font-size: 4.3em;
    }
  }

  &__description {
    font-size: 1.55em;
  }
}
