.hello {
  font-size: 16px;
  color: #858e97;
  text-align: center;

  @media screen and (max-width: 1200px) {
    font-size: 15px;
  }

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }

  @media screen and (max-width: 500px) {
    font-size: 10px;
  }

  &__content {
    padding: 11em 0 3em;
  }

  &__title {
    font-family: "Gotham Rounded Bold";
    color: #222;
    font-size: 4em;
    margin-bottom: 0.65em;
    line-height: 1.1;
  }

  &__text {
    font-size: 1.35em;
    max-width: 700px;
    margin: 0 auto;
  }
}