.map {
  color: #858e97;
  font-size: 16px;

  @media screen and (max-width: 1200px) {
    font-size: 15px;
  }

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }

  @media screen and (max-width: 500px) {
    font-size: 10px;
  }

  &__image {
    position: relative;
  }

  &__image img {
    width: 100%;
    position: relative;
    z-index: 1;
  }

  &__image img.conferences-image {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__done {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 5em;
  }

  &__wrap {
    position: relative;
    display: flex;
    padding-bottom: 8px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #eee;
    }
  }

  &__wrap .handle {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #222;
    transition: all 0.3s ease;
  }

  &__projects {
    margin-right: 50px;
  }

  &__done button {
    font-family: "Open Sans", $f-sans-serif;
    font-weight: 700;
    font-size: 1.15em;
    text-transform: uppercase;
    color: #222;
    border: none;
    outline: none;
    letter-spacing: 2px;
    padding: 0;
    background-color: $c-white;
  }
}

img.active {
  z-index: 10;
}