.arrow-down {
  position: relative;
  z-index: 2;
  opacity: 0;
  transition: opacity 1.5s ease 3.3s;
  animation: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}