.share {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 1.5s ease 2.3s;
  z-index: 2;
}

.link {
  margin-right: 5em;

  .twitter-icon {
    background-image: url("../img/twitter.png");

    &::after {
      background-image: url("../img/twitter-hover.png");
    }
  }

  .facebook-icon {
    background-image: url("../img/facebook.png");

    &::after {
      background-image: url("../img/facebook-hover.png");
    }
  }

  .linked-in-icon {
    background-image: url("../img/linked-in.png");

    &::after {
      background-image: url("../img/linked-in-hover.png");
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.link span {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50%;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover::after {
    opacity: 1;
  }
}