extends layout/base

block page-title
  title Christmas

block page-content
  main.main-content
    .container
      .main-content__inner
        include ./objects/hello
        include ./objects/map
        include ./objects/achievements
        include ./objects/adci


