section.achievements
  h3.achievements__title What our 2017 was like
  - const achievements = [{image: "computer", text: "projects successfully launched", number: "54"}, {image: "article", text: "articles written and shared", number: "33"}, {image: "cup-of-coffee", text: "cups of coffee turned into code", number: "5 712"}, {image: "pizza", text: "pizzas eaten", number: "478"}, {image: "session", text: "sessions at educational events delivered", number: "38"}, {image: "flowers", text: "square meters of our new office in the city center", number: "420"}]
  each achievement in achievements
    .achievements__achievement
      .achievements__image
        img(src="../img/" + achievement.image + ".png")
      .achievements__content
        .achievements__number= achievement.number
        .achievements__description= achievement.text