section.adci
  .adci__content
    .adci__image
      a(href="//www.adcisolutions.com/" target="_blank" title="ADCI Solutions")
        img(src="../img/adci-logo.png")
    .adci__text Join us on our way!