header.header
  .container
    canvas#snow
    .header__content
      .header__name
        .name
        h1.title Merry Christmas
          span !
      .share
        a.link(href="#")
          img(src="../img/twitter.png" alt="twitter")
        a.link(href="#")
          img(src="../img/facebook.png" alt="facebook")
        a.link(href="#")
          img(src="../img/linked-in.png" alt="linkedIn")
      .arrow-down
        a(href="#")
          img(src="../img/arrow-down.png" alt="arrow-down")

