header(:class="['header', {'show': position === 4}]")
  .container
    .header__content
      canvas#canvas
      .header__name
        .name {{ name === '' ? 'Dear Friend' : name }}
          span ,
        h1.title Merry Christmas
          span !
      .share
        a.link(href="#")
          span.twitter-icon
        a.link(href="#")
          span.facebook-icon
        a.link(href="#")
          span.linked-in-icon
      .arrow-down
        a(href="#" @click.prevent='scroll')
          img(src="../img/arrow-down.png" alt="arrow-down")

