section.hello
  .hello__content
    h2.hello__title Nice to meet you!
    div.hello__text We are ADCI Solutions — web studio with 10 years
        |  history, considerable experience and plenty of projects
        | done for our happy clients worldwide