section.map
  .map__done
    .map__wrap
      .map__projects
        button(@click.prevent="switchMap") projects
      .map__conferences
        button(@click.prevent="switchMap") conferences
      .handle
  .map__image
    img(class="image projects-image" src="../img/map-projects.jpg")
    img(class="image conferences-image" src="../img/map-conferences.jpg")