.start-form
  h2.title Hello
    span !
  div.text Are you ready to celebrate?
  form
    input.user-name(type="text" placeholder="What's your name?")
    input.push-user(type="submit" value="let it snow!")