doctype html
html(lang="en")
  head
    block page-title
      title Christmas
    include ../base/head

  block vars
    - var bodyClasses = '';

  body(class=bodyClasses)
    .page#app
      include ../objects/preloader
      include ../objects/merry-christmas
      include ../objects/start-form
      include ../objects/header
      .content
        block page-content

      include ../objects/footer
    include ../base/cellar



